.button:armed,
.button:hover,
.button:focused,
.button {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

.menu-bar {
    -fx-background-color: TRANSPARENT;
}

.root {
    -fx-background-color: #ffffff;
}

.button:hover {
    -fx-opacity: 0.5;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.5 0 0.5;
    -fx-background-color: #e3e3e3;
}

.scroll-bar {
    -fx-background-color: #ffffff;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #bababa;
    -fx-background-radius: 5em;
}

.jfx-list-cell-container .label {
    -fx-text-fill: BLACK;
}

.jfx-list-cell:odd:selected .jfx-list-cell-container,
.jfx-list-cell:even:selected .jfx-list-cell-container {
    -fx-background-color: rgb(0.0, 0.0, 255.0);
}

.jfx-list-cell:odd:selected,
.jfx-list-cell:even:selected {
    -fx-background-color: #12abe7;
}


.jfx-list-cell:odd,
.jfx-list-cell:even {
    -fx-background-color: white;
}


.combo-box-popup .list-view .jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.combo-box-popup .list-view .jfx-list-cell:filled:hover {
    -fx-text-fill: black;
}