
.button:hover {
    -fx-opacity: 0.5;
}

/* list/tree view menu */
.view-button {
    -fx-background-color: #ffffff;
}

.view-button:hover {
    /*-fx-background-color: #d0d0d0;*/
    -fx-opacity: 0.6;
}

.view-button .menu-item:focused {
    -fx-background-color: #29c1c1;
}

.view-button .menu-item {
    -fx-arrows-visible: false;
    -fx-background-radius: 6 6 6 6, 6 6 6 6, 6 6 6 6;
}

.context-menu {
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 6 6 6 6, 6 6 6 6, 6 6 6 6;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.0em 0.083333em 0.0em 0.083333em; /* 4 1 8 1 */
}

.view-button  > .arrow-button {
    -fx-padding: 0;
}

.view-button  > .arrow-button > .arrow {
    -fx-padding: 0;
}
