.side-bar {
    -fx-background-color: white;
    -fx-background-radius: 4 0 0 4;
    -fx-pref-height: 24px;
    -fx-padding: 0 0 -2px 0;
}
.side-bar .button {
    -fx-background-color: #E0E0E093;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #dedede;

    -fx-background-radius: 0;
    -fx-pref-width: 60px;
    -fx-text-fill: #626262;
}
.side-bar .button:hover {
    -fx-background-color: #ffffff;
    -fx-background-radius: 4 0 0 4;
    -fx-text-fill: black;
}
.collapse-btn {
    -fx-background-radius: 4 0 0 4;
    -fx-border-radius: 4 0 0 4;
    /*-fx-padding: 2 0 2 0;*/
    -fx-border-width: 0 !important;
    /*-fx-border-width: 0 2 0 0 !important;*/
    /*-fx-border-color: #dedede;*/
}
/*.collapse-btn:hover {*/
/*    -fx-background-color: #dedede !important;*/
/*    -fx-background-radius: 4 0 0 4;*/
/*    -fx-border-radius: 4 0 0 4;*/
/*}*/
.side-bar .button.selected {
    -fx-border-width: 0 0 2 2;
    -fx-border-color: #dedede #dedede #1bc091 #dedede;
    -fx-padding: 4px 0 3px 0;
}
