/********* Xml *********/
.tagmark {
    -fx-fill: gray;
}
.anytag {
    -fx-fill: crimson;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.attribute {
    -fx-fill: darkviolet;
}
.avalue {
    -fx-fill: black;
}

.comment {
    -fx-fill: teal;
}

/*************** Rich text ***************/
.display-code-area .text {
    -fx-font-family: "JetBrains Mono";
    -fx-font-weight: 500;
    -fx-font-size: 12px;
    /*-fx-spacing: 4;*/
}
.keyword {
    -fx-fill: #8f2614;
    /*-fx-font-weight: bold;*/
}
.number {
    -fx-fill: #128c27;
}
.bool {
    -fx-fill: #005eb9;
}
.string {
    -fx-fill: #676767;
}
.brace {
    -fx-fill: #0067b2;
}
.bracket {
    -fx-fill: #0067b2;
}


/******** line number *********/
.lineno {
    -fx-font-family: "JetBrains Mono";
    /*-fx-text-fill: red;*/
}