
.menu-bar {
    -fx-background-color: TRANSPARENT;
}

.root {
    -fx-background-color: TRANSPARENT;
}

.button:hover {
    -fx-opacity: 0.5;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.5 0 0.5;
    -fx-background-color: #efefef;
}

.scroll-bar {
    -fx-background-color: #ffffff;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #bababa;
    -fx-background-radius: 5em;
}


/* RequestView - Context-menu */
.req-context-menu .context-menu {
    -fx-background-color: #ffffff;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
    -fx-background-radius: 4 4 4 4, 4 4 4 4, 4 4 4 4;
}
.req-context-menu .menu-item {
    -fx-background-color: #ffffff;
    -fx-padding: 0.2em 3.0em 0.2em 0.0em;
    -fx-background-radius: 4 4 4 4, 4 4 4 4, 4 4 4 4;
}
.req-context-menu .menu-item:focused {
    -fx-background-color: #29c1c1;
}
.req-context-menu .menu-item:focused .label {
    -fx-text-fill: white;
}


