
.menu-bar {
    -fx-background-color: TRANSPARENT;
}

.root {
    -fx-background-color: TRANSPARENT;
}

.button:hover {
    -fx-opacity: 0.5;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.5 0 0.5;
    -fx-background-color: #efefef;
}

.scroll-bar {
    -fx-background-color: #ffffff;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #bababa;
    -fx-background-radius: 5em;
}


