.button:armed,
.button:hover,
.button:focused,
.button {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}
.main-menu-btn:hover,
.jfx-toggle-node:hover,
.button:hover {
    -fx-background-color: rgba(229, 229, 229, 0.75);
    /*-fx-opacity: 0.6;*/
}
.main-menu-btn:hover .ikonli-font-icon,
.jfx-toggle-node:hover .ikonli-font-icon,
.button:hover .ikonli-font-icon{
    -fx-opacity: 0.8;
}


/******** Main config menu *********/
.main-menu-btn {
    -fx-background-color: TRANSPARENT;
}

/*.main-menu-btn:hover {*/
/*    -fx-background-color: rgba(255, 255, 255, 0.55);*/
/*    -fx-opacity: 0.6;*/
/*}*/

.main-menu-btn .menu-item:focused {
    -fx-background-color: #29c1c1;
    /*-fx-background-color: #cc3636;*/
}

.main-menu-btn .menu-item {
    -fx-background-color: TRANSPARENT;
    -fx-arrows-visible: false;
    -fx-background-radius: 6 6 6 6, 6 6 6 6, 6 6 6 6;
    -fx-padding: 10 50 10 5;
}

.main-menu-btn .context-menu {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 6 6 6 6, 6 6 6 6, 6 6 6 6;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.1em 0.083333em 0.1em 0.083333em; /* 4 1 8 1 */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.35), 10, 0, 0, 0);
}

.main-menu-btn  > .arrow-button {
    -fx-padding: 0;
}

.main-menu-btn  > .arrow-button > .arrow {
    -fx-padding: 0;
}

.menu-item .ikonli-font-icon {
    -fx-icon-color: rgba(77, 77, 77, 0.77);
}

/********** toggle-node **********/
.jfx-toggle-node {
    -jfx-toggle-color: TRANSPARENT;
    /*-jfx-rippler-fill: red;*/
    -jfx-untoggle-color: TRANSPARENT;
}

.jfx-toggle-node:hover {
    -fx-opacity: 0.65;
}
#recordBtn:focused .jfx-rippler{
    -jfx-rippler-fill: white;
}

/********** Separator **********/
.separator .line {
    -fx-background-color: #C2C2C2BC;
    -fx-border-width: 0;
    -fx-pref-height: 2;
}