.myDialog{
    -fx-background-color: TRANSPARENT;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: TRANSPARENT;
    -fx-padding: 0;
}
/*.myDialog > *.label.content{*/
/*    -fx-font-size: 14px;*/
/*    -fx-font-weight: bold;*/
/*}*/
/*.myDialog:header *.header-panel{*/
/*    -fx-background-color: #e14848;*/
/*}*/
/*.myDialog:header *.header-panel *.label{*/
/*    -fx-font-size: 12px;*/
/*    -fx-font-style: italic;*/
/*    -fx-fill: #292929;*/
/*}*/