
.button:hover {
    -fx-opacity: 0.5;
}

/* list/tree view menu */
.view-button {
    -fx-background-color: TRANSPARENT;
}

.view-button:hover {
    -fx-background-color: #c7c7c7;
    /*-fx-opacity: 0.6;*/
}

.view-button .menu-item:focused {
    -fx-background-color: #29c1c1;
}

.view-button .menu-item {
    -fx-arrows-visible: false;
    -fx-background-radius: 6 6 6 6, 6 6 6 6, 6 6 6 6;
}

.context-menu {
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 6 6 6 6, 6 6 6 6, 6 6 6 6;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.0em 0.083333em 0.0em 0.083333em; /* 4 1 8 1 */
}

.view-button  > .arrow-button {
    -fx-padding: 0;
}

.view-button  > .arrow-button > .arrow {
    -fx-padding: 0;
}

/********** tree view **********/
.tree-view {
    -fx-background-insets: 0;
}
.tree-cell:selected {
    -fx-background-color: #7fd9d0;
}

.tree-cell:selected .req-method-label {
    -fx-opacity: 1;
    -fx-text-fill: #ffffff;
}
.req-leaf {
    /*-fx-background-color: #29c1c1;*/
}
.tree-cell {
    /*-fx-background-color: -fx-control-inner-background;*/
    /*-fx-background-color: #449ee7;*/
    -fx-content-display: graphic-only;
    -fx-padding: 0.1em; /* 3 */
    -fx-text-fill: #3d4242;
    -fx-indent: 14;
}
.tree-cell .arrow {
    -fx-background-color: #8C9C9E;
}
.tree-cell .label {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 3 */
}

.req-graphic-box {
    /*-fx-background-color: green;*/
    /*-fx-opacity: 0.6;*/
}


/****** path label ******/
.req-path-label {
    /*-fx-background-color: #0059b0;*/
    /*-fx-opacity: 0.7;*/
}

/********** method label **********/
.req-method-label {
    -fx-border-radius: 0.5em;
    -fx-opacity: 0.6;
    -fx-padding: 0 0.1em 0 0.1em;
    -fx-font-weight: bold;
}

.method-label-get {
    -fx-text-fill: #3eb352 !important;
}
.method-label-post {
    -fx-text-fill: #1c72bf !important;
}
.method-label-put {
    -fx-text-fill: #c19f41 !important;
}
.method-label-delete {
    -fx-text-fill: #bb3636 !important;
}

.req-cell-bar {
    -fx-background-color: #33cbb9;
    -fx-opacity: 0;
}


/********** List view cell **********/
.list-view {
    -fx-background-insets: 0;
}
.list-cell:selected .req-method-label {
    -fx-opacity: 1;
    -fx-text-fill: #ffffff;
}
.list-cell:odd:selected,
.list-cell:even:selected{
    -fx-background-color: #d4d4d4;
}

.list-cell:odd,
.list-cell:even {
    -fx-background-color: TRANSPARENT;
}


/********** filter input **********/
#filterInput {
    -fx-background-color: #efefef;
    -fx-background-radius: 12 12 12 12;
    -fx-border-width: 1;
    -fx-border-radius: 12;
    -fx-border-color: #eeeeee;
    -fx-pref-width: 200;
    -fx-pref-height: 25;
    -fx-padding: 0 0 1 5;
}

/********** filter input **********/
.toggle-node {
    -jfx-toggle-color: TRANSPARENT;
    -jfx-rippler-fill: #33cbb9;
    -fx-max-width: 25;
    -fx-min-width: 25;
    -fx-padding: 5 0 0 0;
}
.toggle-node:hover {
    /*-fx-fill: #a6a6a6;*/
    -fx-opacity: 0.5;
}


