
/*************** tab **************/
.setting-tab-pane {
    -fx-padding: 0 0 0 0;
}
/*.setting-tab-pane *.tab-label {*/
/*    -fx-font-size: 11;*/
/*    -fx-font-weight: NORMAL;*/
/*    -fx-pref-width: 90px;*/
/*    -fx-translate-y: 20;*/
/*    -fx-text-fill: #303030;*/
/*}*/
.setting-tab-pane *.tab {
    -fx-pref-height: 70px;
    -fx-pref-width: 80px;
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 5;
}
.setting-tab-pane *.tab:selected {
    -fx-background-color: rgba(204, 204, 204, 0.8);
}
.setting-tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #eeeeee;
}
.setting-tab-pane .headers-region {
    -fx-background-color: TRANSPARENT;
    -fx-alignment: CENTER;
    -fx-translate-x: 130;
}
.setting-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: TRANSPARENT;
}
.setting-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-disabled: true;
}
.setting-tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

.setting-tab-pane .setting-icon-pane .ikonli-font-icon {
    -fx-icon-color: #6e6e6e;
    -fx-icon-size: 24;
}
.setting-tab-pane .setting-icon-pane .label {
    -fx-pref-width: 80px;
    -fx-text-fill: #5d5d5d;
    -fx-font-size: 8pt;
    -fx-font-weight: normal;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
    -fx-padding: 5 0 0 0;
}



/****** buttonBar ******/
.settings-btn .button {
    -fx-pref-height: 35;
    -fx-pref-width: 80;
    /*-fx-background-color: #e2e2e2;*/
    -fx-border-width: 1;
    -fx-border-color: #e2e2e2;
    -fx-border-radius: 5;
    -fx-padding: 0.7em 0.57em;
}
.settings-btn .button:hover {
    -fx-opacity: 0.7;
    /*-fx-fill: #505050;*/
    -fx-background-color: #e5e5e5;
}
.settings-btn .button.save-btn {
    -fx-background-color: #29c1c1;
    -fx-border-width: 0;
    -fx-background-radius: 5;
}


/****** input fields ******/
.setting-tab-pane .jfx-toggle-button {
    -fx-padding: 0 0 0 -4;
    -jfx-toggle-color: #009688;
}
.setting-tab-pane .jfx-toggle-button .jfx-rippler {
    -jfx-rippler-disabled: true;
}

.setting-tab-pane .jfx-text-field {
    -fx-border-width: 1;
    -fx-border-color: #b0b0b0;
    -fx-border-radius: 3px;
    /*-jfx-focus-color: #29c1c1;*/
    /*-jfx-unfocus-color: #4d4d4d;*/
    -fx-padding: 0.333333em 0 0.333333em 0;
}
.setting-tab-pane .jfx-text-field > .input-line {
    /*-fx-background-color: -jfx-unfocus-color;*/
    -fx-pref-height: 0px;
    /*-fx-translate-y: 1px;*/
}
.setting-tab-pane .jfx-text-field > .input-focused-line {
    /*-fx-background-color: -jfx-focus-color;*/
    -fx-pref-height: 0px;
}
.setting-tab-pane .jfx-text-field:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-prompt-text-fill: #4D4D4D;
    -fx-border-color: #808080;
}


/****** text area ******/
.setting-tab-pane .text-area {
    /*-fx-highlight-fill: gray;*/
    -fx-focus-color: #808080;
    -fx-faint-focus-color: TRANSPARENT;
}


/****** combBox ******/
.setting-tab-pane .jfx-combo-box {
    -jfx-focus-color: #29c1c1;
    /*-jfx-unfocus-color: TRANSPARENT;*/
    -fx-prompt-text-fill: #707070;
}
.setting-tab-pane .jfx-combo-box .label{
    -fx-text-fill: #707070;
}
.setting-tab-pane .combo-box-popup .list-view {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
}
.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:odd:selected .jfx-list-cell-container,
.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:even:selected .jfx-list-cell-container {
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: #707070;
}

.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: #707070;
}

.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:odd,
.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:even {
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: #707070;
}

.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:hover {
    -fx-background-color: #eaeaea;
    -fx-background-radius: 5;
    /*-fx-font-weight: 700;*/
}
.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:hover .label {
    -fx-text-fill: black;
}

.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:selected .label {
    -fx-text-fill: #33cbb9;
    -fx-font-weight: bold;
}

/****** scrollPane ******/
.scroll-pane {
    -fx-background-color: TRANSPARENT;
}

/****** gridPane ******/
.setting-grid-pane {
    -fx-background-color: #ffffff;
}

.grid-element {
    -fx-pref-height: 40;
    /*-fx-border-color: red;*/
}
.grid-element .label {
    -fx-pref-height: 40;
    /*-fx-text-fill: #0aa89b;*/
    -fx-padding: 0 0 0 10
}
.grid-element .button,
.grid-element .radio-button {
    /*-fx-background-color: yellow;*/
    -fx-pref-height: 40;
    -fx-pref-width: 80;
    /*-fx-padding: 0;*/
}
.grid-element-lg {
    /*-fx-pref-height: 120;*/
    -fx-pref-height: 220;
}

.import-btn {
    -fx-pref-width: 80;
    -fx-max-height: 30;
    -fx-background-color: #29c1c1;
    /*-fx-font-weight: bold;*/
    -fx-text-fill: #ffffff;
}
/*.preview-btn {*/
/*    -fx-pref-width: 75;*/
/*    -fx-max-height: 25;*/
/*    -fx-background-color: #d2d2d2;*/
/*    -fx-translate-y: 7;*/
/*}*/
.preview-btn,
.operate-btn {
    -fx-max-width: 25;
    -fx-max-height: 25;
    /*-fx-background-color: #d2d2d2;*/
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 5;
    -fx-translate-y: 7;
}
.preview-btn .ikonli-font-icon,
.operate-btn .ikonli-font-icon
{
    -fx-icon-color: #8f8f8f;
    -fx-icon-size: 15;
}
.import-btn:hover,
.preview-btn:hover,
.operate-btn:hover {
    -fx-opacity: 0.6;
}

.alert-label {
    -fx-text-fill: #ce1414;
    -fx-pref-width: 200;
    -fx-padding: 0 0 0 20;
}