
/****** tabPane ******/
.setting-tab-pane *.tab-label {
    -fx-rotate: 90;
    -fx-translate-x: -28;
}
.setting-tab-pane .setting-tab-2 *.tab-label {
    -fx-rotate: 90;
    -fx-translate-x: -20;
}
.setting-tab-pane .setting-tab-4 *.tab-label {
    -fx-rotate: 90;
    -fx-translate-x: -2;
}


.setting-tab-pane {
    -fx-padding: 0 0 0 0;
    /*-fx-border-width: 1;*/
    /*-fx-border-color: darkred;*/
}
.setting-tab-pane *.tab {
    -fx-pref-height: 180px;
    -fx-pref-width: 40px;
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 5;
    -fx-translate-y: -7.5;
}
.setting-tab-pane *.tab:selected {
    -fx-pref-height: 180px;
    -fx-pref-width: 40px;
    -fx-background-radius: 5;
    -fx-background-color: #29c1c1;
}
.setting-tab-pane .tab-header-background {
    -fx-background-color: #eaeaea;
    -fx-padding: 20 0 0 0;
    /*-fx-background-radius: 5;*/
}
.setting-tab-pane .headers-region {
    /*-fx-background-color: yellow;*/
    /*-fx-pref-width: 180;*/
    -fx-pref-height: 190px;
}
.setting-tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

/****** buttonBar ******/

.settings-btn .button {
    -fx-pref-height: 35;
    -fx-pref-width: 80;
    /*-fx-background-color: #e2e2e2;*/
    -fx-border-width: 1;
    -fx-border-color: #e2e2e2;
    -fx-border-radius: 5;
    -fx-padding: 0.7em 0.57em;
}
.settings-btn .button:hover {
    -fx-opacity: 0.7;
    /*-fx-fill: #505050;*/
    -fx-background-color: #e5e5e5;
}
.settings-btn .button.save-btn {
    -fx-background-color: #29c1c1;
    -fx-border-width: 0;
    -fx-background-radius: 5;
}
