
/****** tabPane ******/
.setting-tab-pane *.tab-label {
    -fx-rotate: 90;
    -fx-translate-x: -28;
}
.setting-tab-pane .setting-tab-1 *.tab-label {
    -fx-rotate: 90;
    -fx-translate-x: -10;
}
.setting-tab-pane .setting-tab-2 *.tab-label {
    -fx-rotate: 90;
    /*-fx-translate-x: -20;*/
}
.setting-tab-pane .setting-tab-3 *.tab-label {
    -fx-rotate: 90;
    -fx-translate-x: -20;
}
.setting-tab-pane .setting-tab-4 *.tab-label {
    -fx-rotate: 90;
    /*-fx-translate-x: -20;*/
}


.setting-tab-pane {
    -fx-padding: 0 0 0 0;
    /*-fx-border-width: 1;*/
    /*-fx-border-color: darkred;*/
}
/*.setting-tab-pane .anchor-pane{*/
/*    -fx-border-color: darkred;*/
/*}*/
.setting-tab-pane *.tab {
    -fx-pref-height: 180px;
    -fx-pref-width: 40px;
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 5;
    -fx-translate-y: -7.5;
}
.setting-tab-pane *.tab:selected {
    -fx-pref-height: 180px;
    -fx-pref-width: 40px;
    -fx-background-radius: 5;
    -fx-background-color: #29c1c1;
}
.setting-tab-pane .tab-header-background {
    -fx-background-color: #eaeaea;
    -fx-padding: 20 0 0 0;
    /*-fx-background-radius: 5;*/
}
.setting-tab-pane .headers-region {
    /*-fx-background-color: yellow;*/
    /*-fx-pref-width: 180;*/
    -fx-pref-height: 190px;
}
.setting-tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

/****** buttonBar ******/
.settings-btn .button {
    -fx-pref-height: 35;
    -fx-pref-width: 80;
    /*-fx-background-color: #e2e2e2;*/
    -fx-border-width: 1;
    -fx-border-color: #e2e2e2;
    -fx-border-radius: 5;
    -fx-padding: 0.7em 0.57em;
}
.settings-btn .button:hover {
    -fx-opacity: 0.7;
    /*-fx-fill: #505050;*/
    -fx-background-color: #e5e5e5;
}
.settings-btn .button.save-btn {
    -fx-background-color: #29c1c1;
    -fx-border-width: 0;
    -fx-background-radius: 5;
}


/****** input fields ******/
.setting-tab-pane .jfx-toggle-button {
    -fx-padding: 0 0 0 -4;
    -jfx-toggle-color: #009688;
}
.setting-tab-pane .jfx-toggle-button .jfx-rippler {
    -jfx-rippler-disabled: true;
}

.setting-tab-pane .jfx-text-field {
    -fx-border-width: 1;
    -fx-border-color: #b0b0b0;
    -fx-border-radius: 3px;
    /*-jfx-focus-color: #29c1c1;*/
    /*-jfx-unfocus-color: #4d4d4d;*/
    -fx-padding: 0.333333em 0 0.333333em 0;
}
.setting-tab-pane .jfx-text-field > .input-line {
    /*-fx-background-color: -jfx-unfocus-color;*/
    -fx-pref-height: 0px;
    /*-fx-translate-y: 1px;*/
}
.setting-tab-pane .jfx-text-field > .input-focused-line {
    /*-fx-background-color: -jfx-focus-color;*/
    -fx-pref-height: 0px;
}
.setting-tab-pane .jfx-text-field:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-prompt-text-fill: #4D4D4D;
    -fx-border-color: #808080;
}


/****** text area ******/
.setting-tab-pane .text-area {
    /*-fx-highlight-fill: gray;*/
    -fx-focus-color: #808080;
    -fx-faint-focus-color: TRANSPARENT;
}


/****** combBox ******/
.setting-tab-pane .jfx-combo-box {
    -jfx-focus-color: #29c1c1;
    /*-jfx-unfocus-color: TRANSPARENT;*/
    -fx-prompt-text-fill: #707070;
}
.setting-tab-pane .jfx-combo-box .label{
    -fx-text-fill: #707070;
}
.setting-tab-pane .combo-box-popup .list-view {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
}
.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:odd:selected .jfx-list-cell-container,
.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:even:selected .jfx-list-cell-container {
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: #707070;
}

.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: #707070;
}

.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:odd,
.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:even {
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: #707070;
}

.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:hover {
    -fx-background-color: #eaeaea;
    -fx-background-radius: 5;
    /*-fx-font-weight: 700;*/
}
.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:hover .label {
    -fx-text-fill: black;
}

.setting-tab-pane .combo-box-popup .list-view .jfx-list-cell:selected .label {
    -fx-text-fill: #33cbb9;
    -fx-font-weight: bold;
}